*{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  min-height: 90vh;
}

.header{
  background-color: grey;
  min-height: 10vh;
}

.loading{
  display: flex;
  justify-content: center;
  vertical-align: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
}

.loading h1{
  padding-top: 30vh;
  font-size: 126px;
  color: white;
}